In [1]:
import mysql.connector
from getpass import getpass
from mysql.connector import connect, Error
username="kevwe"
password="umukoro3056#"

In [3]:
def create_connection():
    try:
        connection = mysql.connector.connect(
            host="localhost",
            user=username,
            password=password,
            database="resume_job_files"
        )
        if connection.is_connected():
            print("Connection successful")
            return connection
    except Error as e:
        print(f"Error: '{e}'")
        return None

In [4]:
def close_connection(connection):
    if connection.is_connected():
        connection.close()
        print("Connection closed")

## CREATES A NEW DATABASE

In [7]:
def create_database():
    connection = create_connection()
    create_db = "CREATE DATABASE resume_job_files"
    if connection:
        with connection.cursor() as cursor:
            cursor.execute(create_db)
        close_connection(connection)

1007 (HY000): Can't create database 'resume_job_files'; database exists

## SHOWS DATABASES

In [14]:
def show_databases():
    connection = create_connection()
    show_db_query = "SHOW DATABASES"
    if connection:
        with connection.cursor() as cursor:
            cursor.execute(show_db_query)
            for db in cursor:
                print(db)
        close_connection(connection)

show_databases()

Connection successful
('information_schema',)
('mysql',)
('performance_schema',)
('resume_job_files',)
('sakila',)
('sys',)
('world',)
Connection closed

## CONNECTING TO AN EXISTING DATABASE

In [15]:
# try:
#     with mysql.connector.connect(
#         host="localhost",
#         user = username,
#         password = password,
#         database= 'resume_job_files',
#     ) as connection:
#         print(connection)
# except Error as e:
#     print(e)

## CREATING TABLES

In [7]:
def create_candidate_table():
    create_candidate_table_query = """
    CREATE TABLE IF NOT EXISTS candidate(
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(100),
        email VARCHAR(100) UNIQUE,
        number VARCHAR(15),
        password VARCHAR(255),
        resume_file LONGBLOB,
        resume_text TEXT
    )
    """
    connection = create_connection()
    if connection:
        with connection.cursor() as cursor:
            cursor.execute(create_candidate_table_query)
            connection.commit()
        close_connection(connection)

In [8]:
def create_employer_table():
    create_employer_table_query = """
    CREATE TABLE IF NOT EXISTS employer(
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(100),
        email VARCHAR(100),
        number VARCHAR(15),
        password VARCHAR(255)
    )
    """
    connection = create_connection()
    if connection:
        with connection.cursor() as cursor:
            cursor.execute(create_employer_table_query)
            connection.commit()
        close_connection(connection)

In [9]:
def create_job_table():
    create_job_table_query = """
    CREATE TABLE IF NOT EXISTS job (
        id INT AUTO_INCREMENT PRIMARY KEY,
        title VARCHAR(100),
        description TEXT,
        company VARCHAR(100),
        location VARCHAR(100),
        category TEXT,
        link VARCHAR(255),
        employer_id INT,
        FOREIGN KEY (employer_id) REFERENCES employer(id)
    )
    """
    connection = create_connection()
    if connection:
        with connection.cursor() as cursor:
            cursor.execute(create_job_table_query)
            connection.commit()
        close_connection(connection)

In [10]:
def create_application_table():
    create_application_table_query = """
    CREATE TABLE IF NOT EXISTS application (
        id INT AUTO_INCREMENT PRIMARY KEY,
        candidate_id INT,
        job_id INT,
        application_date DATE,
        similarity_score FLOAT,
        FOREIGN KEY (candidate_id) REFERENCES candidate(id),
        FOREIGN KEY (job_id) REFERENCES job(id)
    )
    """
    connection = create_connection()
    if connection:
        with connection.cursor() as cursor:
            cursor.execute(create_application_table_query)
            connection.commit()
        close_connection(connection)

In [12]:
create_candidate_table()
create_employer_table()
create_job_table()
create_application_table()

Connection successful
Connection closed
Connection successful
Connection closed
Connection successful
Connection closed
Connection successful
Connection closed

## TABLE DESCRIPTION

In [8]:
describe_job = "DESCRIBE job"
connection = create_connection()
if connection: 
    with connection.cursor() as cursor:
        cursor.execute(describe_job)
        jobs_schema = cursor.fetchall()
        for column in jobs_schema:
            print(column)
    close_connection(connection)

Connection successful
('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('title', 'varchar(100)', 'YES', '', None, '')
('description', 'text', 'YES', '', None, '')
('company', 'varchar(100)', 'YES', '', None, '')
('location', 'varchar(100)', 'YES', '', None, '')
Connection closed

## TABLE INSERTION

In [9]:
# INSERT SINGLE RECORD
# insert_single_record = "INSERT INTO books (id, title, author, genre, release_year)\
#     VALUES (%s, %s, %s, %s, %s)"
# single_record = (
#     "1", "Choose Yourself! Be Happy, Make Millions, Live the Dream", "James Altucher", "self-help", "2013"
#     )

# # Create cursor object
# with existing_database.cursor() as cursor:
#     cursor.execute(insert_single_record, single_record)
#     existing_database.commit()

In [10]:
# multiple_records = [
#     (
#         "2",
#         "Skip the Line: The 10,000 Experiments Rule and Other Surprising Advice for Reaching Your Goals",
#         "James Altucher",
#         "self-help",
#         "2021"        
#     ),
#     (
#         "3",
#         "The Power of No: Because One Little Word Can Bring Health, Abundance, and Happiness",
#         "James Altucher",
#         "self-help",
#         "2014"
#     ),
#     ]

# with existing_database.cursor() as cursor:
#     cursor.executemany(insert_multiple_records, multiple_records)
#     existing_database.commit()

## TABLE DROP

In [8]:
# drop_table = "DROP TABLE IF EXISTS job"
# connection = create_connection()
# if connection: 
#     with connection.cursor() as cursor:
#         cursor.execute(drop_table)
#         connection.commit()
#     close_connection(connection)