In [ ]:
# https://www.kaggle.com/code/sudalairajkumar/getting-started-with-text-preprocessing#Removal-of-Emojis
# https://www.analyticsvidhya.com/blog/2021/06/text-preprocessing-in-nlp-with-python-codes/

In [23]:
import pandas as pd
import string
import nltk
from nltk.corpus import stopwords
from collections import Counter
from nltk.stem.porter import PorterStemmer
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
import re
from nltk.tokenize import word_tokenize
from spellchecker import SpellChecker

In [2]:
data = pd.read_csv("cleandata.csv")
data.head()

   Unnamed: 0    Category                                             resume
0           0  ACCOUNTANT  PAYROLL ACCOUNTANT Summary Sixteen years exper...
1           1  ACCOUNTANT  PROJECT ACCOUNTANT Professional Summary Obtain...
2           2  ACCOUNTANT  STAFF ACCOUNTANT Virginia Francis Summary Capa...
3           3  ACCOUNTANT  ACCOUNTANT Highlights Soft Skills Public Speak...
4           4  ACCOUNTANT  ACCOUNTANT Professional Summary Inpatient and ...

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35900 entries, 0 to 35899
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  35900 non-null  int64
 1   Category    35900 non-null  object
 2   resume      35900 non-null  object
dtypes: int64(1), object(2)
memory usage: 841.5+ KB

In [4]:
data.drop(columns=["Unnamed: 0"],inplace=True)
data

            Category                                             resume
0         ACCOUNTANT  PAYROLL ACCOUNTANT Summary Sixteen years exper...
1         ACCOUNTANT  PROJECT ACCOUNTANT Professional Summary Obtain...
2         ACCOUNTANT  STAFF ACCOUNTANT Virginia Francis Summary Capa...
3         ACCOUNTANT  ACCOUNTANT Highlights Soft Skills Public Speak...
4         ACCOUNTANT  ACCOUNTANT Professional Summary Inpatient and ...
...              ...                                                ...
35895  WEB DEVELOPER  Marketing and Compliance Project Manager Marke...
35896  WEB DEVELOPER  Account Management Specialist Account Manageme...
35897  WEB DEVELOPER  Full Stack JavaScript and React Js Developer F...
35898  WEB DEVELOPER  IT NETWORK AND SECURITY ADMINISTRATOR IT span ...
35899  WEB DEVELOPER  IT Security Analyst span lITspan span lSecurit...

[35900 rows x 2 columns]

In [ ]:
# Data Preprocessing

LOWER CASING

data["Category"] = data["Category"].str.lower()
data["resume"] = data["resume"].str.lower()
data.head()

PUNCTUATION REMOVAL

def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree
data['Category']= data['Category'].apply(lambda x:remove_punctuation(x))
data['resume']= data['resume'].apply(lambda x:remove_punctuation(x))
data.head()

STOPWORDS REMOVAL

STOPWORDS = stopwords.words('english')
STOPWORDS

def remove_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])

data['Category']= data['Category'].apply(lambda x:remove_stopwords(x))
data['resume']= data['resume'].apply(lambda x:remove_stopwords(x))
data.head()

FREQUENT WORDS REMOVAL(not that necessary)

cnt = Counter()
for text in data["resume"].values:
    for word in text.split():
        cnt[word] += 1 

mostcom = cnt.most_common(10)
mostcom

mostcom.pop(1)

mostcom

FREQWORDS = set([w for (w, wc) in mostcom])
def remove_freqwords(text):
    return " ".join([word for word in str(text).split() if word not in FREQWORDS])

data['resume']= data['resume'].apply(lambda x:remove_freqwords(x))
data.head()

RARE WORDS REMOVAL(not that necessary)

n_rare_words = 10000
RAREWORDS = set([w for (w, wc) in cnt.most_common()[:-n_rare_words-1:-1]])

def remove_rarewords(text):
    return " ".join([word for word in str(text).split() if word not in RAREWORDS])

data['resume']= data['resume'].apply(lambda x:remove_freqwords(x))
data.head()

STEMMING

stemmer = PorterStemmer()
def stem_words(text):
    return " ".join([stemmer.stem(word) for word in text.split()])

data['resume']= data['resume'].apply(lambda x:stem_words(x))
data.head()

LEMMATIZATION

lemmatizer = WordNetLemmatizer()

print("Word is : stripes")
print("Lemma result for verb : ",lemmatizer.lemmatize("stripes", 'v'))
print("Lemma result for noun : ",lemmatizer.lemmatize("stripes", 'n'))

lemmatizer = WordNetLemmatizer()
wordnet_map = {"N":wordnet.NOUN, "V":wordnet.VERB, "J":wordnet.ADJ, "R":wordnet.ADV}
def lemmatize_words(text):
    pos_tagged_text = nltk.pos_tag(text.split())
    return " ".join([lemmatizer.lemmatize(word, wordnet_map.get(pos[0], wordnet.NOUN)) for word, pos in pos_tagged_text])

data['resume']= data['resume'].apply(lambda x:lemmatize_words(x))
data.head()

URL REMOVAL

def remove_urls(text):
    url_pattern = re.compile(r'http[s]?://\S+|www\.\S+')
    return url_pattern.sub('', text)

data['resume']= data['resume'].apply(lambda x:remove_urls(x))
data.head()

SPELLING CORRECTION

# spell = SpellChecker()
# def correct_spellings(tokens):
#     corrected_text = []
#     misspelled_words = spell.unknown(tokens)  # Identify misspelled words
#     for word in tokens:
#         if word in misspelled_words:
#             corrected_word = spell.correction(word)  # Correct the misspelled word
#             corrected_text.append(corrected_word)
#         else:
#             corrected_text.append(word)  # Keep the correct word as is

#     return corrected_text  # Return the corrected list of tokens


# data['resume']= data['resume'].apply(correct_spellings)
data

TOKENIZATION

# def tokenization(text):
#     tokens = re.split('W+',text)
#     return tokens

# data['resume']= data['resume'].apply(lambda x:tokenization(x))
data["resume"] = data["resume"].apply(word_tokenize)
data.head()

In [ ]:
data.to_csv("preprocesseddata.csv")